{% extends "_layouts/test.twig" %}

{% block main_container %}
    <div class="row">

        <div class="span8">
            <div class="entry">
                <h2><a href="#">Форма</a></h2>
                <form action="/submit/" method="POST">
                    <input name="form" value="" />
                    <input type="submit" />
                </form>
                <hr />
            </div>
        </div>

    </div>
{% endblock %}