{% extends "_layouts/test.twig" %}

{% block main_container %}
    <div class="row">

        <div class="span8">
            <div class="entry">
                <h2><a href="#">Это метод POST</a></h2>
                <p>Отправлен текст {{ form }}</p>
                <hr />
            </div>
        </div>

    </div>
{% endblock %}