{% extends "_layouts/test.twig" %}

{% block main_container %}
    <div class="row">

        <div class="span8">
            <div class="entry">
                <h2><a href="#">Новость ID {{ nID }}</a></h2>
                <p>Детальный текст</p>
                <hr />
            </div>
        </div>

    </div>
{% endblock %}