{% extends "_layouts/test.twig" %}

{% block main_container %}
    <div class="row">

        <div class="span8">
            <div class="entry">
                <h2><a href="#">403</a></h2>
                <p>Доступ запрещен</p>
                <hr />
            </div>
        </div>

    </div>
{% endblock %}