<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>dev.taldom.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- JS -->
    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shim.js"></script>
    <![endif]-->

    <!-- Stylesheets -->
    <link href="/assets/style/bootstrap.css" rel="stylesheet">
    <link href="/assets/style/style.css" rel="stylesheet">
    <link href="/assets/style/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">

</head>

<body>


<header>
    <div class="container">
        <div class="logo">
            <h1><a href="#">Mitsar Framework</a></h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Главная</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        {% block main_container %}
        {% endblock %}
    </div>
</div>
<footer>
    <div class="container">
        <!-- I worked hard to design this template. So please don't remove the below link. If you remove then you are breaking the licence. -->
        <div class="row">
            <div class="span6"><div class="padd">Copyright &copy; 2012 - <a href="#">Your Site</a></div></div>
            <div class="span6 attr"><div class="padd">Designed by <a href="http://responsivewebinc.com">Responsive CSS Templates</a></div></div>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>

<!-- JS -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.js"></script>
</body>
</html>