{% extends "_layouts/test.twig" %}

{% block main_container %}
    <div class="row">

        <div class="span8">
            <div class="entry">
                <h2><a href="#">Тест методов доступа</a></h2>
                <p>Текущий метод в REQUEST = {{ method }}</p>
                <hr />
            </div>
        </div>

    </div>
{% endblock %}